.table-view-cell.sentence-cell {
  padding: 0;
  font-size: 17px;
  line-height: 25px;
}
.table-view-cell.sentence-cell > a:not(.btn) {
  margin: 0;
  padding: 15px 10px 15px 10px;
  border-left: 5px solid white;
}
.playing {
  border-left: 5px solid red;
}
.episode-show-title {
  font-weight: bold;
  text-align: center;
  text-transform: none;
}
.image-medium {
  width: 75px;
}
.small-description {
  font-size: 12px;
  line-height: 16px;
}
.episode-media img.media-object {
  width: 42px;
  height: 42px;
}