
.episode-show-title {
  font-weight: bold;
  text-align: center;
  text-transform: none;
}
.image-medium {
  width: 75px;
}
.small-description {
  font-size: 12px;
  line-height: 16px;
}
.episode-media img.media-object {
  width: 62px;
  height: 62px;
  margin: 0 10px 10px;
}
.episode-media {

}
.btn-play {

}
.btn-play::before {
  content: url('play.svg');
  position: absolute;
  left: 38px;
  top: 10px;
}