.PlayerDefinitionDetail {
    height: calc(100% - 35px);
    margin-top: 35px;
    margin: 0;
    width: 100%;
    font-family: 'Source Serif Pro', serif;
}
.PlayerDefinitionDetail .table-view {
  background-image: none;
  background: transparent;
}
.PlayerDefinitionDetail .table-view-cell {
  background: white;
  margin: 8px;
  padding: 12px;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
}
.PlayerDefinitionDetail .table-view-cell.sentence-head {
  padding: 14px 0 6px 20px;
  font-style: italic;
  margin: 0;
  box-shadow: none;
}
.PlayerDefinitionDetail .table-view-cell.sentence-head h3 {
  font-size: 20px;
  line-height: 24px;
}
