.PlayerAudio {
  display: block;
  position: fixed;
  min-width: 280px;
  height: 35px;
  z-index: 10;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  background: #eeeeee;
  width: 280px;
  overflow: hidden;
}
.react-audio-player {
  width: 460px;
}
@media only screen and (max-width : 667px) {
  .PlayerAudio {
    width: 100%;
  }
  .react-audio-player {
    width: 102%;
  }
}

