.table-view-cell.sentence-cell {
  display: none;
  padding: 0;
}
.table-view-cell.sentence-cell > a:not(.btn) {
  margin: 0;
  padding: 10px 12px 42px 12px;
  font-size: 18px;
  line-height: 25px;
}
.table-view-cell.sentence-cell > a:not(.btn) {
  border-left: 10px solid #cccccc;
  padding-left: 10px;
}
.table-view-cell.sentence-cell.playing > a:not(.btn) {
  border-left: 10px solid limegreen;
  padding-left: 10px;
}

.table-view-cell.sentence-cell.sentence-visible {
  display: block;
}
.bar.bar-nav {
  border-bottom: 1px solid #ccc;
}

.table-view-cell.sentence-cell > .btn {
  top: 82%;
}