.App {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  background: #efeff4;
  background: white;
}
.content {
  background: white !important;
}
.centered {
  text-align: center;
}
p.gray {
  margin-top: 4px;
  color: #666 !important;
}
.italic {
  font-style: italic;
}
.logo {
  letter-spacing: -6px;
  font-size: 62px;
}
.tagline {
  font-size: 18px;
}
.content-info p {
  font-size: 16px;
  line-height: 22px; 
}
.content-info h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid limegreen;
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.btn-multiline.btn-intro {
  line-height: 1.3;
  font-size: 16px;
}