.App {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  background: #efeff4;
  background: white;
}
.content {
  background: white !important;
}
.centered {
  text-align: center;
}