html, body {
  width: 100%;
}

/* default: smartphone potrait & landscape size */
@media only screen
and (max-width : 667px) {
  #root {
    width: 100%;
    height: 100%;
  }
}

/* laptop and larger size */
@media only screen
and (min-width: 668px) {
  #root {
    display: block;
    position: relative;
    width: 320px;
    height: 650px;
    margin: 5px auto;
    background-image: url(img/device-android.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .App {
    display: block;
    position: absolute;
    width: 280px;
    height: 484px;
    top: 65px;
    left: 20px;
    overflow: hidden;
  }
}

.btn-outlined.btn-primary {
  color: #0098DB;
}
.btn-outlined.btn-primary {
  color: #0098DB;
}
.btn-primary {
  border: 1px solid #0098DB;
}
